fastapi==0.68.0
uvicorn==0.15.0
SpeechRecognition==3.8.1
pyttsx3==2.90
websockets==10.0
python-multipart
python-jose[cryptography]
passlib[bcrypt]
Flask==2.0.1
Flask-CORS==3.0.10
langchain-google-genai
langchain-groq
langchain-core
langgraph
edge-tts
python-dotenv
langdetect
langchain
faiss-cpu